.main-menu {
	top: 0px;
	width: 100%;
	background: linear-gradient(
	  to right,
	  rgb(22, 255, 1, 0.2),
	  rgb(248, 255, 44),
	  rgb(20, 80, 3)
	);
	border-bottom: #000000 1px solid;
	display: flex;
	position: fixed;
	height: 9%;
	z-index: 1;
  }
  #profilo {
	position: absolute;
	right: 50px;
	top: 15px;
  }
  #testo {
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	font-weight: bold;
	font-size: large;
	margin-right: 1%;
  }
  
  #utente {
	display: flex;
	align-items: center;
  
	margin-left: 7%;
	margin-right: -5%;
  }
  
  #esci {
	color: red;
  }
  
  #DiVideo {
	width: 100%;
	height: 500px;
	margin-bottom: 7.5vw;
  }
  
  .nav-link {
	color: #000000;
  }
  
  .main-menu a {
	float: left;
	margin-top: 15px;
	font-weight: bold;
  
	font-size: larger;
	text-decoration: none;
	color: #000000;
	display: block;
	padding: 16px;
  }
  
  .main-menu a:hover {
	color: rgb(42, 174, 33);
  
	text-decoration: double;
  }
  
  .citazione {
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	font-style: italic;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-size: 30px;
	font-weight: bold;
	margin-left: 25%;
	margin-right: 25%;
  }
  
  body {
	margin: 0px;
	height: 100%;
  }
  
  .main-menu .titolo {
	width: 260px;
	margin-top: 2px;
	font-size: xx-large;
	font-style: italic;
	font-weight: 500;
	padding-right: 1%;
	color: rgb(6, 56, 20);
  }
  
  .slogan {
	position: absolute;
	top: 280px;
	padding-left: 29%;
	padding-right: 20%;
	text-align: center;
	font-weight: bold;
  
	color: rgba(255, 255, 255, 0.822);
	font-size: 3vw;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  
  .Titolo_Carousel {
	position: absolute;
	top: 280px;
	left: 20%;
	right: 20%;
	text-align: center;
	font-weight: bold;
	font-size: 3vw;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	color: rgb(0, 255, 55);
  }
  
  .dona {
	border-radius: 100px;
	border-color: #24c43f;
	color: #fff;
	box-shadow: 0 0 40px 40px #12af2f inset, 0 0 0 0 #056f15;
	transition: all 150ms ease-in-out;
	z-index: 3;
	position: absolute;
	width: 400px;
	height: 100px;
	text-align: center;
	padding-top: 27px;
	top: 430px;
	z-index: 1;
	right: 100px;
	font-style: italic;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: xx-large;
	font-weight: bold;
  }
  
  .dona:hover {
	box-shadow: 0 0 120px 0 #0dbe3a inset, 0 0 10px 4px #046c20;
  }
  
  .contenitore {
	display: flex;
	margin: 0px;
	width: 1920px;
	height: 700px;
	background: rgba(29, 151, 18, 0.2);
  }
  
  .foto {
	display: block;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	width: 1400px;
	height: 600px;
	border-radius: 12px;
  }
  video {
	border-top: 0px;
	object-fit: fill;
	z-index: -1;
	width: 100%;
	height: 600px;
  }
  .prima .container {
	position: absolute;
	top: 60%;
	width: 80%;
  }
  
  .prova {
	width: 90%;
	height: 90%;
	border: 1px solid seagreen;
  }
  
  #riga {
	width: 100%;
	height: 1px;
	background: #000000;
	margin-bottom: 45px;
  }
  .display-1 {
	font-size: 3.5vw;
	text-align: center;
	width: 100%;
	margin-bottom: 30px;
  }
  
  .display-2 {
	position: absolute;
	top: 3800px;
  }
  
  .statistiche .container {
	position: absolute;
	top: 1500px;
	left: 14%;
	text-align: center;
	width: 100%;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
  }
  
  .tabella .grid-container {
	margin-top: 65px;
  }
  
  .grid-container {
	width: 100%;
	height: 300px;
	display: grid;
	grid-template-columns: auto auto auto;
  }
  #seconda .grid-container {
	top: 3900px;
  }
  
  .grid-item {
	background-color: rgba(255, 255, 255, 0.8);
	border: 0px solid rgba(0, 0, 0, 0.8);
	padding: 20px;
  
	font-size: 30px;
	text-align: center;
  }
  
  #copyright {
	width: 100%;
	height: 80px;
	padding: 1px;
	margin-top: 30%;
	-moz-border-radius: 35px;
	border-radius: 35px;
	background-color: Black;
	color: #ffffff;
	text-align: center;
	margin-left: auto;
  }
  
  #rettangolo {
	position: absolute;
	top: 1800px;
	width: 100%;
	height: 400px;
	background: #1116b7;
	z-index: -1;
  }
  
  #programma {
	position: absolute;
  
	width: 80%;
	left: 5%;
  }
  
  .fotoProgramma {
	width: 100%;
  }
  
  .textStat {
	font-size: 1.65vw;
  }
  
  .datoStat {
	font-size: 1.65vw;
	margin-top: 3vw;
  }
  
  #carte {
	position: relative;
	margin-top: 10px;
  }
  
  #DivCarello {
	background: linear-gradient(
	  to right,
	  rgba(2, 250, 85, 0.822),
	  rgba(0, 255, 21, 0.548),
	  rgba(201, 255, 7, 0.521)
	);
	width: 100%;
  }
  
  #logo {
	width: 100%;
  }
  
  @media screen and (max-width: 800px) {
	.main-menu a {
	  text-align: left;
	  font-size: 2vw; /* The width is 100%, when the viewport is 800px or smaller */
	}
	.main-menu .titolo {
	  margin-top: 9px;
	  font-size: 3vw;
	  font-weight: 210;
	  width: 175px;
	}
  
	.prima .container {
	  top: 50%;
	  width: 50%;
	}
  
	.slogan {
	  font-size: 5vw;
	}
  
	.Titolo_Carousel {
	  position: absolute;
	  top: 40%;
	  font-size: 6.55vw;
	}
  }
  
  @media screen and (max-width: 350px) {
	#logo {
	  width: 90vw;
	}
  }
  
  @media screen and (max-width: 600px) {
	.card-text {
	  font-size: 3.1vw;
	}
	.card-title {
	  font-size: 3.6vw;
	}
  }
  
  @media screen and (max-width: 645px) {
	.slogan {
	  top: 280px;
	  font-size: 6.55vw;
	}
  
	.Titolo_Carousel {
	  position: absolute;
	  top: 40%;
	  font-size: 6.55vw;
	}
  
	#stat {
	  margin-bottom: -90px;
	}
  
	#logo {
	  margin-left: 9%;
	}
  }
  
  @media screen and (max-width: 1200px) {
	video {
	  top: -20px;
	  object-fit: none;
	}
	.dona {
	  position: absolute;
	  top: 395px;
	  right: 5%;
	  height: 7vw;
	  width: 25vw;
	  font-size: 3vw;
	  padding-top: 1.5vw;
	}
  
	.prima .container {
	  top: 50%;
	  width: 50%;
	}
	.textStat {
	  font-size: 3.55vw;
	}
  
	.datoStat {
	  font-size: 3.55vw;
	  margin-top: 3vw;
	}
  
	.display-1 {
	  font-size: 6vw;
	  text-align: center;
	  width: 100%;
	}
  
	.slogan {
	  font-size: 5vw;
	}
  
	.Titolo_Carousel {
	  position: absolute;
	  top: 40%;
	  font-size: 6.55vw;
	}
  
	.citazione {
	  font-size: 3.5vw;
	  margin-top: 7.5vw;
	  margin-bottom: 7.5vw;
	}
  }
  
  /*CSS delle Grid contenenti le voci della barra in alto, e delle loro carte:*/
  .grid {
	display: grid;
	background: -webkit-linear-gradient(left top, green, yellow);
	grid-template-columns: repeat(19, 1fr);
	grid-template-rows: repeat(5, 150px);
  }
  
  .item1 {
	display: grid;
	grid-column: 2 / 10;
	grid-row: 2 / 5;
  
	background: linear-gradient(
	  to right,
	  rgb(22, 255, 1, 0.2),
	  rgb(248, 255, 44),
	  rgb(20, 80, 3)
	);
  }
  .item2 {
	display: grid;
	grid-column: 10 / 18;
	grid-row: 2 / 5;
  }
  img {
	width: 600px;
	height: 100%;
  }
  
  #imgContorno {
	width: 600px;
	height: 100%;
	border: 2px solid rgba(27, 116, 5, 0.685);
  }
  
  #grad1 {
	height: 100%;
	background: -webkit-linear-gradient(left top, red, yellow);
  }
  
  body {
	margin: 0px;
  }
  
  .Pparent {
	margin-left: 2%;
	margin-right: 2%;
  }
  
  .parent {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(11, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	margin-bottom: 30px;
  }
  
  .div1 {
	grid-area: 1 / 1 / 13 / 13;
	background: linear-gradient(
	  to right,
	  rgba(154, 247, 4, 0.637),
	  rgba(83, 248, 6, 0.74),
	  rgba(116, 238, 2, 0.712)
	);
	border-radius: 5%;
  }
  .div2 {
	grid-area: 3 / 3 / 10 / 8;
  }
  
  .div3 {
	grid-area: 3 / 8 / 10 / 12;
  }
  
  .div4 {
	grid-area: 4 / 9 / 6 / 11;
	text-align: center;
  }
  .div5 {
	grid-area: 5 / 8 / 9 / 12;
	text-align: center;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  
  .Programma {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(12, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	margin-bottom: 30px;
	/*border: 1px solid green;*/
  }
  
  .div1P {
	background: linear-gradient(
	  to right,
	  rgba(154, 247, 4, 0.637),
	  rgba(83, 248, 6, 0.74),
	  rgba(116, 238, 2, 0.712)
	);
	border-radius: 5%;
	/*background: linear-gradient(to right, rgba(63, 255, 5, 0.363),rgba(41, 255, 59, 0.26) , rgba(222, 238, 4, 0.822));*/
	/*background: linear-gradient(to right, rgb(22, 255, 1,0.2),rgb(248, 255, 44) , rgb(26, 107, 4));*/
	grid-area: 1 / 1 / 13 / 13;
  }
  .div2P {
	grid-area: 3 / 3 / 11 / 11;
	border-radius: 5%;
  }
  
  .Contattaci {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(12, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	margin-bottom: 30px;
  
	/*border: 1px solid green;*/
  }
  
  .div1C {
	background: linear-gradient(
	  to right,
	  rgba(56, 226, 4, 0.685),
	  rgba(36, 197, 49, 0.712),
	  rgba(109, 238, 4, 0.603)
	);
	/*background: linear-gradient(to right, rgba(63, 255, 5, 0.466),rgba(41, 255, 59, 0.26) , rgb(222, 238, 4));*/
	/*background: linear-gradient(to right, rgba(255, 230, 1, 0.2),rgb(255, 44, 44) , rgb(253, 194, 0));*/
	grid-area: 1 / 1 / 13 / 13;
	border-radius: 5%;
  }
  .div2C {
	border-radius: 5%;
	grid-area: 3 / 3 / 11 / 11;
  }
  
  .News {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(12, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	/*border: 1px solid green;*/
	margin-bottom: 30px;
  }
  
  .div1N {
	background: linear-gradient(
	  to right,
	  rgba(3, 158, 11, 0.671),
	  rgba(7, 185, 87, 0.856),
	  rgba(10, 240, 2, 0.671)
	);
	/*background: linear-gradient(to right, rgba(255, 12, 182, 0.2),rgb(247, 0, 185) , rgb(255, 0, 55));*/
	grid-area: 1 / 1 / 13 / 13;
	border-radius: 5%;
  }
  .div2N {
	border-radius: 5%;
	grid-area: 3 / 3 / 11 / 11;
  }
  
  .semi-donut {
	--percentage: 0;
	--fill: rgb(21, 106, 226);
	width: 100%;
	height: 150px;
	position: relative;
	color: rgb(28, 211, 199);
	font-size: 22px;
	font-weight: 800;
	overflow: hidden;
	color: var(--fill);
	display: flex;
	align-items: flex-end;
	justify-content: center;
  }
  
  .semi-donut:after {
	content: "";
	width: 300px;
	height: 300px;
	border: 50px solid;
	border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) var(--fill) var(--fill);
	position: absolute;
	border-radius: 50%;
  
	top: 0;
	box-sizing: border-box;
	transform: rotate(calc(1deg * (-45 + var(--percentage) * 1.8)));
  }
  